@import "variable.css";

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: #333; */
}

/* -- Header section start -- */
.header {
    height: 20rem;
    width: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer {
    border: 1px solid #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title {
    color: var(--heroHeadingColor);
    font-size: var(--heroHeadingTextSize);
}

.description {
    color: var(--descHeadingColor);
    font-size: var(--descHeadingTextSize);
}
/* -- Header section End -- */

/* -- mainContainer section start -- */
.mainContainer {
    width: 80rem;
    border: 1px solid #333;
    margin: auto;
}

.content {
    height: 9rem;
    width: 100%;
    border: 1px solid #333;
    padding: 1rem;
    display: grid;
    align-items: center;
    /* justify-content: center; */
    grid-template-columns: 1fr 1fr 1fr;
}
/* -- mainContainer section end -- */

/* -- summery section start -- */
.summery {
    height: 9rem;
    width: 100%;
    border: 1px solid #333;
}
/* -- summery section end -- */

/* -- contact section start -- */
.contact {
    height: 9rem;
    width: 100%;
    border: 1px solid #333;
}
/* -- contact section end -- */

/* -- footer section end -- */
.footer {
    height: 9rem;
    width: 100%;
    border: 2px solid #333;
}
/* -- footer section end -- */