/* ====================================================
  Media queries Section
=======================================================*/



@media (max-width: 1090px) {
    .projectBoxWrapper {
        width: 80%;
    }

    .slide-position-2 {
        transform: translate(-25%, -53%) scale(0.7);
        width: 90%;
    }

    .slide-position-3 {
        transform: translate(-75%, -53%) scale(0.7);
        width: 90%;
    }
}

@media (max-width: 1024px) AND (max-height: 600px) {
    .projectGrid {
        height: 260px;
    }

    .projectWrapperRow3,
    .dv2 {
        display: none;
    }
}

@media (max-width: 1000px) {

    .projectDetailsContainer.glass-card,
    .projectSectionContainer .glass-card {
        height: 90%;
        gap: 2rem;
    }

    .projectDetailsContainer {
        gap: 0rem !important;
    }

    .projectDetailsWrapper {
        height: 80%;
        flex-direction: column;
        gap: 1rem;
    }

    .detailsTabsContainer {
        flex-direction: row;
        justify-content: flex-start;
        height: 70px;
        max-width: 100%;
        padding: 0rem 0.3rem;
        overflow-x: auto;
        overflow-y: hidden;
        /* border: 1px solid red; */
    }

    .detailsTabWrapper {
        height: 40px;
        width: 40px;
    }

    .detailsTabsContainer.custom-scrollbar::-webkit-scrollbar {
        height: 5px;
        width: 100%;
    }


    .TabIconDisplay {
        display: block;
    }

    .detailsTabText {
        display: none;
    }

    .detailsContentContainer {
        height: 100%;
        width: 100%;
        max-width: auto;
        min-width: auto;
    }

    .detailsContentContainerWrapper {
        padding: 0;
    }

    .detailsTitle {
        display: flex;
    }

    .detailsContent {
        height: 100%;
    }
}

@media (max-width: 810px) {
    .hamburgerIcon {
        display: block;
    }

    .hamburgerMenu {
        display: flex;
    }

    .menuBar {
        opacity: 0;
    }

    .rootContainer {
        height: 100%;
    }

    .slide-position-1 {}

    .slide-position-2 {
        transform: translate(-25%, -53%) scale(0.7);
        width: 90%;
    }

    .slide-position-3 {
        transform: translate(-75%, -53%) scale(0.7);
        width: 90%;
    }
}

@media (min-width: 811px) {
    .rootContainer.hideElementWithScale {
        transform: scale(1);
        opacity: 1;
    }

    .menuBar.hideElementWithScale {
        transform: scale(1) translate(-50%, 0%);
        opacity: 1;
    }
}

@media (max-width: 840px) {
    .projectSliderWrapper {
        flex-direction: column;
    }
}

@media (max-width: 750px) {

    .projectWrapperRow3,
    .dv2 {
        display: none;
    }

    .projectSliderWrapper {
        gap: 3rem;
    }

    .slide-position-2,
    .slide-position-3 {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
        --slider-transition-speed: 0s;
    }
}

@media (max-width: 560px) {


    .glass-card {
        height: 100%;
        gap: 2rem;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0;
    }

    .navButtons {
        width: 5rem;
        position: static;
        transform: translate(0, 0);
        padding: 0;
    }

    .navButton {
        width: 2rem;
        height: 2rem;
        background-size: 3rem;
    }

    .leftNav:hover {
        width: 2rem;
        height: 2rem;
        background-size: 3rem;
    }

    .rightNav:hover {
        width: 2rem;
        height: 2rem;
        background-size: 3rem;
    }

    .slide-position-2 {
        transform: translate(-35%, -53%) scale(0.7);
        width: 90%;
    }

    .slide-position-3 {
        transform: translate(-65%, -53%) scale(0.7);
        width: 90%;
    }

    .projectGrid {
        height: 260px;
    }
}

@media (max-width: 431px) {


    .projectTitleSectionContainer {
        gap: 0;
    }

    .section-heading {
        font-size: 1.5rem;
    }

    .section-sub-heading {
        font-size: 0.9rem;
    }

    .projectSliderWrapper {
        gap: 2rem;
    }

    .navButton {
        width: 1.5rem;
        height: 1.5rem;
        background-size: 2.5rem;
    }

    .navButtons {
        width: 4rem;
    }

    .projectBoxWrapper {
        width: 90%;
    }

    .projectGrid {
        height: 260px;
    }

    .projectWrapperRow3,
    .dv2 {
        display: none;
    }
}

/* ======================================== */