@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "variable.css";

* {
  margin: 0;
  box-sizing: border-box;
}

/* Utility classes start */

/* Utility classes start */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background-color: var(--darkBg); */
  /* background: url(/assets/images/bg/tealMEsh.jpg) center center;
  background-attachment: fixed;
  background-size: cover; */
  color: var(--text-light);
  /* cursor: url("/assets/images/illustrations/p1.png") 4 4, auto !important; */
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow: hidden;
}

.bg-video {
  position: fixed;
  inset: 0;
  z-index: -2;
  /* overflow: hidden; */
}

.bg-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-overlay {
  position: absolute;
  inset: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* background-color: #020e14a3; */
  background-color: #1402025c;
  /* background: url(/assets/images/bg/un1.jpg) center center/cover; */
}

.loaderOverlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-color: #00191f;
    background-image: radial-gradient(at 59% 8%, rgb(87 189 199 / 30%) 0px, transparent 50%), radial-gradient(at 27% 67%, rgb(83 215 237 / 20%) 0px, transparent 50%); */

  /* background-image: url('../assets/images/bg/un1.jpg'); */
  /* background-image: url('../assets/images/bg/un1.jpg'); */

  background-position: center;
  background-size: cover;

  background-attachment: fixed;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderBg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* background: #333; */
  /* background-image: url("../assets/images/bg/un1.jpg"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(30px);
  /* Scale it up slightly to hide the blurred edges of the screen */
  transform: scale(1.1);
}

/* ====================================================
  Menu bar CSS START
=======================================================*/

.menuBar {
  position: fixed;
  margin: auto 0;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0 1rem;
  background: var(--bg-menuBar);
  backdrop-filter: blur(var(--px-10)) saturate(150%);
  -webkit-backdrop-filter: blur(var(--px-10)) saturate(150%);
  border-radius: var(--px-10);
  border: var(--px-4) solid var(--glass-card-border);
  box-shadow: var(--bs-menuBar);
}
.menuBarContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
.menuItem {
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: var(--text-primary);
  font-weight: var(--fw-medium);
  font-family: var(--ff-heading);
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  letter-spacing: var(--px-2);
  border-radius: var(--px-5);
  cursor: pointer;
  background: var(--transparent);
  z-index: 1;
}

.menuActive {
  box-shadow: var(--bs-active-menuBar);
}

.menuItem:hover {
}

.menuSlider {
  height: 170%;
  width: 120px;
  background: var(--bg-menuSlider);
  position: absolute;
  top: 50%;
  left: 304px;
  transform: translateY(-50%);
  border-radius: 5px;
  z-index: -1;
  transition: left 0.5s ease, background 0.25s ease-in;
}

/* =======================================================*/

/* ====================================================
  Menu bar CSS START
=======================================================*/

.hamburgerIcon {
  position: relative;
  top: 10px;
  left: 10px;
  width: 3.5rem;
  height: 3rem;
  border-radius: 5px;
  background: var(--bg-menuSlider);
  cursor: pointer;
  z-index: 2;
}

.line {
  position: absolute;
  left: 50%;
  height: 4px;
  width: 60%;
  transition: transform 0.8s ease-in-out, background 0.5s ease;
  background: #051f2a;
}

.l-up {
  top: 0;

  transform: translate(-50%, 300%);
}
.l-mid {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
}
.l-dw {
  position: absolute;
  bottom: 0;

  transform: translate(-50%, -300%);
}

.hamburgerIcon:hover .l-up {
  transform: translate(-16px, 20px) rotateZ(398deg);
}
.hamburgerIcon:hover .l-mid {
  transform: translate(-50%, -50%) rotateZ(-222deg);
  background: #289ccd;
}
.hamburgerIcon:hover .l-dw {
  transform: translate(-20px, -20px) rotateZ(398deg);
}

.hamburgerMenu {
  z-index: 1;
  position: absolute;
}

.hamburgerMenuContainer {
}

.hamburgerMenuItem {
}

/* =======================================================*/

/* ====================================================
  Main CSS START
=======================================================*/

.rootContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 5px solid red; */
  overflow: hidden;
  height: 85vh;
  position: fixed;
  inset: 0;
  /* border: 4px solid red; */
}

.view {
  position: absolute;
  inset: 0;
  transform: scale(0.001);
  opacity: 0;
  transition: transform 0.5s ease-out;
}

/* ====================================================
  Hero Section
=======================================================*/

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerWrapper {
  height: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  min-width: 23rem;
  position: relative;
  gap: 1rem;
}

.headerTitle {
  /* color: var(--text-primary); */
}

.headerTag {
}

.headerDescription {
  max-width: 95%;
  /* border: 1px solid red; */
  padding: 0.7rem 0;
}

.headerViewWorkButton {
  font-size: clamp(1rem, 6vw, 1.5rem);
  font-weight: 600;
  padding: 1rem;
}

.headerImage {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*=======================================================*/

/* ====================================================
  Project Section
=======================================================*/

/* .mainContainer {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
} */

/* -- project section start -- */
.projectSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #4fca4f; */
}

.projectSectionContainer {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem;
  gap: 2rem;
  overflow-y: scroll;
  /* border: 3px solid #f6ff00; */
  /* background: #333; */
}

/* ======================================== */

/* ====================================================
  About Section
=======================================================*/

.aboutMeSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid #4fca4f; */
}

.aboutMeContainer {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem;
  gap: 2rem;
  /* border: 3px solid #f6ff00; */
  /* background: #333; */
}

/* ======================================== */

/* ====================================================
  Technical skill Section
=======================================================*/

.techSkillSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid #4fca4f; */
}

.techSkillContainer {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem;
  gap: 2rem;
  /* border: 3px solid #f6ff00; */
  /* background: #333; */
}

/* ======================================== */

/* ====================================================
  Contact skill Section
=======================================================*/

.contactSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid #4fca4f; */
}

.contactSectionContainer {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem;
  gap: 2rem;
  /* border: 3px solid #f6ff00; */
  /* background: #3333335c; */
}

/* ======================================== */
