@import "variable.css";
@import "themes.css";

/* ========================
    Hero utilities 
=========================== */

.primary-hero-heading {
  font-size: clamp(1.7rem, 4vw, 3rem);
  color: var(--text-primary-accent);
  font-weight: var(--fw-medium);
  font-family: var(--ff-heading);
  text-shadow: var(--text-shadow);
}

.hero-highlight-text {
  color: var(--accent);
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
}

.secondary-hero-heading {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: var(--accent-secondary);
  font-weight: var(--fw-medium);
  font-family: var(--ff-heading);
  text-shadow: var(--text-shadow);
}

.tertiary-hero-heading {
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: var(--text-secondary-accent);
  font-weight: var(--fw-regular);
  font-family: var(--ff-base);
  text-shadow: var(--text-shadow);
}

/* ============================== */

/* ========================
    Button utilities 
=========================== */

.btn-glass {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-3) var(--space-5);
  border-radius: 5px;
  font-family: var(--ff-heading);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-300);
  color: #c5c5c5;
  background: var(--accent-transparent);
  border: 1px solid var(--accent);
  backdrop-filter: blur(var(--px-14));
  -webkit-backdrop-filter: blur(var(--px-14));
  box-shadow: 2px 2px 0px 0px #289ccdc6;
  cursor: pointer;
  transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  padding: var(--space-4);
}

.btn-glass:hover {
  /* background: rgba(255, 255, 255, 0.35); */
  box-shadow: 4px 4px 0px 0px #289ccdc6;
  transform: translateY(-2px);
}

.btn-glass:active {
  box-shadow: 0px 0px 0px 0px #289ccdc6;
  transform: translate(2px, 2px);
}

.btn-glass.accent {
  color: var(--text-accent);
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.15)),
    var(--accent);

  border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-glass.accent:hover {
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.2)),
    var(--accent-hover);
}

.btn-glass-small {
  padding: var(--space-3);
  font-size: var(--space-3-1);
}

/* ============================== */

/* ========================
    project slider utilities 
=========================== */

.slide-position-1 {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 10;
  transition: transform 0.5s ease, filter 1s ease;
}

.slide-position-2 {
  opacity: 0.6;
  transform: translate(0%, -53%) scale(0.7);
  filter: blur(3px);
  z-index: 9;
  transition: transform 0.5s ease, opacity 1s ease, filter 1s ease;
}

.slide-position-3 {
  opacity: 0.6;
  transform: translate(-100%, -53%) scale(0.7);
  filter: blur(3px);
  z-index: 8;
  transition: transform 0.5s ease, opacity 1s ease, filter 1s ease;
}

.dismiss-slide-right {
  opacity: 0;
  transform: translate(-0%, -50%);
  z-index: 11;
  transition: transform 0.5s ease, opacity 1s ease;
}

.dismiss-slide-left {
  opacity: 0;
  transform: translate(-100%, -50%);
  z-index: 9;
  transition: transform 1s ease, opacity 1s ease;
}

.send-to-back-deck {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  filter: blur(3px);
  transition: transform 1s ease, opacity 1s ease, filter 1s ease;
  z-index: 7;
}

/* ============================== */

/* ========================
    general utilities 
=========================== */

.hideElement {
  display: none;
}

.hideElementWithScale {
  transform: scale(0.001);
  opacity: 0;
}

.hideElementWithOpacity {
  transform: scale(0.001);
  opacity: 0;
}

.showElement {
  display: block;
}

.showElementWithScale {
  transform: scale(0.001);
  opacity: 0;
}

.activeSection {
  transform: scale(1);
  opacity: 1;
  /* transition: transform 0.5s ease-out; */
}

.divider {}

.glass-card {
  background: rgb(8 26 34 / 80%);
  /* background: rgb(72 99 111 / 20%); */
  /* backdrop-filter: blur(10px) saturate(150%); */
  /* -webkit-backdrop-filter: blur(10px) saturate(150%); */
  border-radius: var(--px-20);
  border: var(--px-4) solid var(--glass-card-border);
  box-shadow: var(--glass-card-shadow);
  padding: clamp(var(--space-5), var(--vw-4), var(--space-9));
  line-height: var(--px-27);
}

.number-card {
  color: var(--accent-secondary);
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  text-shadow: var(--text-shadow);
  font-size: var(--space-5);
  /* width: 3.5rem; */
  /* max-width: 4rem; */
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0.5rem 1rem 0.8rem;
  position: absolute;
  top: 34px;
  right: -1px;
  border-radius: 10px 0 0 10px;
  box-shadow: inset 2px -12px 20px 1px rgb(1 22 32), inset 3px 2px 4px 0px rgb(19 129 122), inset 11px 11px 20px 0px rgb(1 18 26), inset 4px 3px 15px 0px #000000, 20px 0px 20px 4px #021620, 1px 4px 5px 3px #011219;
}

.card-divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgb(0 50 70) 0%, rgba(22, 95, 129, 1) 50%, rgba(1, 17, 24, 1) 100%);
  box-shadow: 0px 0px 20px 1px #145f81;
}

.primary-text {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: var(--text-primary-accent);
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  text-shadow: var(--text-shadow);
}

.secondary-text {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: var(--accent-secondary);
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  text-shadow: var(--text-shadow);
}

.tertiary-text {
  color: var(--text-tertiary);
  font-family: var(--ff-base);
  text-shadow: var(--text-shadow);
  font-size: clamp(0.8rem, 2vw, 0.95rem);
  font-weight: var(--fw-light);
}

.highlight-text {
  color: var(--accent);
  text-shadow: var(--text-shadow);
}

.highlight-secondary-text {
  color: var(--accent-secondary);
  text-shadow: var(--text-shadow);
}

.bold-text {
  font-weight: var(--bold);
}

.accent-hover:hover {
  background-color: var(--accent-hover);
}

.secondary-heading {
  font-size: clamp(1rem, 2vw, 1.1rem);
  font-family: var(--ff-base);
  color: var(--text-secondary-accent);
  font-weight: var(--fw-bold);
  text-shadow: var(--text-shadow);
}

.section-heading {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: var(--accent);
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  text-shadow: var(--text-shadow);
}

.section-sub-heading {
  font-family: var(--ff-base);
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  color: var(--text-secondary-accent);
  font-weight: var(--fw-bold);
  text-shadow: var(--text-shadow);

  font-family: var(--ff-base);
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: var(--text-secondary-accent);
  font-weight: var(--fw-light);
  text-shadow: var(--text-shadow);
  letter-spacing: var(--px-0-5);
}

/* ============================== */