@import "variable.css";
@import "themes.css";

.hideElement {
  display: none;
}

.showElement {
  display: block;
}

.activeSection {
  transform: scale(1);
  opacity: 1;
  /* transition: transform 0.5s ease-out; */
}

.divider {
}

.glass-card {
  background: rgb(72 99 111 / 20%);
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border-radius: var(--px-20);
  border: var(--px-4) solid var(--glass-card-border);
  box-shadow: var(--glass-card-shadow);
  padding: clamp(var(--space-5), var(--vw-4), var(--space-9));
  line-height: var(--px-27);
}

.primary-text {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: var(--text-primary-accent);
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  text-shadow: var(--text-shadow);
}

.secondary-text {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: var(--text-secondary-accent);
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  text-shadow: var(--text-shadow);
}

.tertiary-text {
  color: var(--text-secondary-accent);
  font-family: var(--ff-base);
  text-shadow: var(--text-shadow);
}

.highlight-text {
  color: var(--accent);
  font-weight: var(--bold);
  text-shadow: var(--text-shadow);
}

.accent-hover:hover {
  background-color: var(--accent-hover);
}

.secondary-heading {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  color: var(--text-secondary-accent);
  font-weight: var(--fw-bold);
  text-shadow: var(--text-shadow);
}

/* ========================
    Hero utilities 
=========================== */

.primary-hero-heading {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: var(--text-primary-accent);
  font-weight: var(--fw-medium);
  font-family: var(--ff-heading);
  text-shadow: var(--text-shadow);
}

.hero-highlight-text {
  color: var(--accent);
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  text-shadow: var(--text-shadow);
}

.secondary-hero-heading {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: var(--text-secondary-accent);
  font-weight: var(--fw-medium);
  font-family: var(--ff-heading);
  text-shadow: var(--text-shadow);
}

.tertiary-hero-heading {
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: var(--text-secondary-accent);
  font-weight: var(--fw-regular);
  font-family: var(--ff-base);
  text-shadow: var(--text-shadow);
}

/* ============================== */

/* ========================
    Button utilities 
=========================== */

.btn-glass {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-3) var(--space-5);
  border-radius: 5px;
  font-family: var(--ff-base);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-300);
  color: #c5c5c5;
  background: #289ccd36;
  border: 2px solid #289ccdc6;
  backdrop-filter: blur(var(--px-14));
  -webkit-backdrop-filter: blur(var(--px-14));
  box-shadow: 2px 2px 0px 0px #289ccdc6;
  cursor: pointer;
  transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
}

.btn-glass:hover {
  /* background: rgba(255, 255, 255, 0.35); */
  box-shadow: 4px 4px 0px 0px #289ccdc6;
  transform: translateY(-2px);
}
.btn-glass:active {
  box-shadow: 0px 0px 0px 0px #289ccdc6;
  transform: translate(2px, 2px);
}

.btn-glass.accent {
  color: var(--text-accent);
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.15)
    ),
    var(--accent);

  border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-glass.accent:hover {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.2)
    ),
    var(--accent-hover);
}

/* ============================== */
