@import "variable.css";
@import "themes.css";

.hideElement {
  display: none;
}

.showElement {
  display: block;
}

.divider {
}

.card {
  background: var(--primary);
  color: var(--text-dark);
  border: 3px solid var(--border);
  box-shadow: 10px 10px 0px var(--border);
}

.btn-primary {
  background: var(--accent);
  color: var(--text-accent);
  border: 3px solid var(--border);
  box-shadow: 6px 6px 0 var(--border);
  font-weight: var(--veryBold);
  padding: 0.75rem 1.5rem;

  cursor: pointer;
  transition: transform 120ms linear, box-shadow 120ms linear;
}

.btn-primary:hover {
  background: var(--accent);
  transform: translate(2px, 2px);
  box-shadow: 4px 4px 0 var(--border);
}

.btn-primary:active {
  transform: translate(6px, 6px);
  box-shadow: 0 0 0 var(--border);
}

.btn-primary:focus-visible {
  outline: 3px solid var(--border);
  outline-offset: 4px;
}

.tag {
  background: var(--secondary);
  color: var(--text-dark);
  border: 2px solid var(--border);
}

.highlight {
  background: var(--highlight);
  color: var(--text-dark);
}

.hero {
  background: var(--primary);
  padding: 4rem 2rem;
  border: 4px solid var(--border);
  box-shadow: 15px 15px 0 var(--border);
}

.primary-hero-heading {
  font-size: clamp(1.8rem, 3vw, 3rem);
  color: var(--text-dark);
  font-weight: var(--slightly-bold);
}

.red-highlight {
  color: var(--accent);
  font-weight: var(--bold);
}

.secondary-hero-heading {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: var(--text-dark);
  font-weight: var(--bold);
}

.description-hero-heading {
  font-size: clamp(1.2rem, 3vw, 1.3rem);
  color: var(--text-dark);
  font-weight: var(--slightly-bold);
}
