@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "variable.css";
@import "themes.css";

* {
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

::-moz-selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

html {
  cursor: url('/assets/images/illustrations/mouse.svg'), auto;
}

button:hover,
a:hover {
  cursor: url('/assets/images/illustrations/mousePointer.svg'), pointer;
}

button {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and 11 */
  user-select: none;
  /* Standard syntax */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background-color: var(--darkBg); */
  /* background: url(/assets/images/bg/tealMEsh.jpg) center center;
  background-attachment: fixed;
  background-size: cover; */
  color: var(--text-light);
  /* cursor: url("/assets/images/illustrations/p1.png") 4 4, auto !important; */
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow: hidden;
}

.bg-video-control {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  border: 2px solid red;
  z-index: 50;
}

.bg-video {
  position: fixed;
  inset: 0;
  z-index: -2;
  /* overflow: hidden; */
}

.bg-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateZ(-1000px);
  /* Pushes it back in 3D space */
  backface-visibility: hidden;
  perspective: 1000px;
}

.bg-overlay {
  position: absolute;
  inset: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* background-color: #020e14a3; */
  /* background-color: #1402025c; */
  background-color: var(--video-background-overlay);
  /* background: url(/assets/images/bg/un1.jpg) center center/cover; */
}

.loaderOverlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-color: #00191f;
    background-image: radial-gradient(at 59% 8%, rgb(87 189 199 / 30%) 0px, transparent 50%), radial-gradient(at 27% 67%, rgb(83 215 237 / 20%) 0px, transparent 50%); */

  /* background-image: url('../assets/images/bg/un1.jpg'); */
  /* background-image: url('../assets/images/bg/un1.jpg'); */

  background-position: center;
  background-size: cover;

  background-attachment: fixed;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderBg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* background: #333; */
  /* background-image: url("../assets/images/bg/un1.jpg"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(30px);
  /* Scale it up slightly to hide the blurred edges of the screen */
  transform: scale(1.1);
}

/* ====================================================
  Menu bar CSS START
=======================================================*/

.menuBar {
  position: fixed;
  margin: auto 0;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0 1rem;
  background: var(--menubar-background);
  /* backdrop-filter: blur(var(--px-10)) saturate(150%);
  -webkit-backdrop-filter: blur(var(--px-10)) saturate(150%); */
  border-radius: var(--px-10);
  border: var(--px-4) solid var(--glass-card-border);
  box-shadow: var(--cb-menuBar-shadow);
  opacity: 1;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and 11 */
  user-select: none;
  /* Standard syntax */
}

.menuBarContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.menuItem {
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: var(--text-primary-accent);
  font-weight: var(--fw-medium);
  font-family: var(--ff-heading);
  text-shadow: var(--text-primary-shadow);
  text-transform: uppercase;
  letter-spacing: var(--px-2);
  border-radius: var(--px-5);
  background: var(--transparent);
  z-index: 1;
  border: none;
}

.menuActive {
  box-shadow: var(--cb-menu-active);
}

.menuItem:hover {}

.menuItem:focus {}

.menuSlider {
  height: 170%;
  width: 120px;
  background: var(--menuSlider-background);
  position: absolute;
  top: 50%;
  left: 304px;
  transform: translateY(-50%);
  border: none;
  border-radius: 5px;
  z-index: -1;
  transition: left 0.5s ease, background 0.25s ease-in;
  will-change: transform;
}

/* =======================================================*/

/* ====================================================
  Menu bar CSS START
=======================================================*/

.hamburgerIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 3.5rem;
  height: 3rem;
  border-radius: 5px;
  background: var(--menuSlider-background);
  z-index: 100;
  display: none;
}

.line {
  position: absolute;
  left: 50%;
  height: 4px;
  width: 60%;
  transition: transform 0.2s ease-in-out, background 0.5s ease;
  background: var(--hamburger-icon-line);
}

.l-up {
  top: 0;
  transform: translate(-50%, 300%);
}

.l-mid {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.l-dw {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -300%);
}

.hamburgerIcon-active .l-up {
  transform: translate(-16px, 20px) rotateZ(45deg);
}

.hamburgerIcon-active .l-mid {
  transform: translate(-50%, -50%) rotateZ(-45deg);
  background: var(--accent);
}

.hamburgerIcon-active .l-dw {
  transform: translate(-20px, -20px) rotateZ(45deg);
}

.hamburgerMenu {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000cd;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and 11 */
  user-select: none;
  /* Standard syntax */
}

.hamburgerMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.hamburgerMenuItem {
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: var(--text-primary-accent);
  font-weight: var(--fw-medium);
  font-family: var(--ff-heading);
  text-shadow: var(--text-primary-shadow);
  text-transform: uppercase;
  letter-spacing: var(--px-2);
  border-radius: var(--px-5);
  padding: 1rem;
  border: 1px solid var(--accent);
  box-shadow: var(--hamburger-menuItems-shadow);
  transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
  width: 150px;
  text-align: center;
  background: var(--transparent);
}

.hamburgerMenuItem:hover {
  /* background: rgba(255, 255, 255, 0.35); */
  box-shadow: inset 6px 6px 20px 1px rgb(20 96 131 / 80%),
    5px 6px 5px 0px rgb(19 129 122);
  transform: translateY(-4px);
}

.hamburgerMenuItem:active {
  box-shadow: inset 2px 2px 20px 1px rgb(20 96 131 / 80%),
    1px 2px 5px 0px rgb(19 129 122);
  transform: translate(2px, 2px);
}

/* =======================================================*/

/* ====================================================
  Main CSS START
=======================================================*/

.rootContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 5px solid red; */
  overflow: hidden;
  height: 85%;
  position: fixed;
  inset: 0;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s ease-out;
  /* border: 4px solid red; */
}

.view {
  position: absolute;
  inset: 0;
  transform: scale(0.1);
  opacity: 0;
  transition: transform 0.5s ease-out;
  will-change: transform;
}

/* ====================================================
  Hero Section
=======================================================*/

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerWrapper {
  height: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  min-width: 23rem;
  position: relative;
  gap: 1rem;
  padding: clamp(var(--space-5), var(--vw-4), var(--space-9)) !important;
}

.headerTitle {
  padding: var(--space-4) 0;
}

.headerTag {}

.headerDescription {
  max-width: 95%;
  /* border: 1px solid red; */
  /* padding: 0.7rem 0; */
  text-align: center;
}

.headerViewWorkButton {
  font-size: clamp(1rem, 6vw, 1.5rem);
  font-weight: 600;
  margin-top: var(--space-2);
}

.headerImage {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*=======================================================*/

/* ====================================================
  Project Section
=======================================================*/

/* .mainContainer {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
} */

/* -- project section start -- */
.projectSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* border: 2px solid #4fca4f; */
}

.projectSectionContainer {
  /* height: 80%; */
  /* height: clamp(70%, 68vh, 80%); */
  overflow: hidden;
  /* border: 3px solid #f6ff00; */
  /* background: #333; */
}

.projectHeader {
  /* width: 100%; */
  /* margin-bottom: clamp(1rem, 0.5vw, 2rem); */
  /* margin-bottom: 1rem; */
}

.projectTitleSectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 100%; */
  gap: 1rem;
}

/* .projectGrid::-webkit-scrollbar {
  width: 8px;
}

.projectGrid::-webkit-scrollbar-track {
  background: rgba(0, 20, 30, 0.6);
  border-radius: 10px;
}

.projectGrid::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1aa3c7, #0d4f63);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(26, 163, 199, 0.6);
}

.projectGrid::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2bcbe6, #137a96);
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(200px, 35vw, 484px), 1fr));
  gap: 2rem;
  padding: 0 clamp(0.1rem, 2vw, 1rem) 0 0;
  overflow-y: auto;
  width: 100%;
  height: clamp(75%, 22vw, 74%);
  scrollbar-width: thin;
  scrollbar-color: #1aa3c7 rgba(0, 20, 30, 0.6);
} */

.projectSliderWrapper {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  /* height: 100%; */
  /* margin-top: 1rem; */
}

.navButton {
  border: none;
  height: 3rem;
  width: 3rem;
  z-index: 20;
  background: url('/assets/images/illustrations/navIcon.svg') no-repeat center/contain;
  background-size: 4rem;
  transform: translate(0, 0);
  opacity: 0.5;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.navButton:hover {
  background: url('/assets/images/illustrations/navIcon.svg') no-repeat center/contain;
  opacity: 1;
  transition: transform 0.5s ease opacity 0.5s ease;
  background-size: 4rem;
}

.leftNav:hover {
  transform: translate(1px, 1px);
}

.rightNav {
  transform: translate(0px, 0px) rotate(180deg);
}

.rightNav:hover {
  transform: translate(-1px, 1px) rotate(180deg);
}

.projectGrid {
  position: relative;
  /* border: 1px solid #ffd000; */
  height: 440px;
  width: clamp(375px, 60vw, 500px);
  width: clamp(375px, 60vw, 682px);
  /* overflow: hidden; */
  margin: 1rem 0 0 0;
}

.projectBoxWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  /* height: 100%; */
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  /* height: 100%; */
  color: #c5c5c5;
  /* border: 1px solid #02222f; */
  padding: 1.5rem;
  border-radius: 10px;
  background: rgba(0, 16, 23, 0.85);
  box-shadow: inset 5px 6px 20px 0px rgb(16 92 125), 0px 2px 7px 0px #01171e, 5px 5px 0px 0px #106f6a;
  will-change: transform;
}

.projectSlideClose {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  border: 1px solid #fb00ef;
}

.projectWrapperRow1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid red; */
  padding: 1.2rem 2rem 1rem 2rem;
  text-align: center;
}

.number-card {
  color: #28cdbd82;
  /* opacity: 1; */
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  text-shadow: var(--text-primary-shadow);
  font-size: var(--space-5);
  /* width: 3.5rem; */
  /* max-width: 4rem; */
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1.2rem 0rem 1rem 0.9rem; */
  position: absolute;
  top: 2rem;
  right: -5px;
  border-radius: 10px 0 0 10px;
  box-shadow: inset 4px 4px 0 0 #106f6ad9, 10px 3px 7px 1px #07151b, 0px 7px 8px 0 #156083;

}

.projectNumber {
  height: 92%;
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem 0 0.5rem;
  position: relative;
  top: 2px;
  right: -6px;
  background: #011219;
  /* border: 1px solid red; */
  border-radius: 10px 0 0 10px;

}

.projectTitleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projectTitle {}

.projectWrapperRow2 {
  /* margin-top: 1rem; */
  line-height: 1.6;
  opacity: 0.9;
  /* border: 1px solid red; */
  /* border-top: 1px solid rgba(40, 205, 197, 0.15); */
  text-align: center;
  padding: 1rem;
}

.projectWrapperRow3 {
  margin-bottom: 1.5rem;
  /* border-top: 1px solid rgba(40, 205, 197, 0.15); */
  padding-top: 1rem;
  /* border: 1px solid red; */
  text-align: center;
}

.projectMadeWithBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.projectMadeWithItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.label-highlight {
  border: 1px solid #1f7d9e7a;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  color: #1e9f95;
  font-family: var(--ff-base);
  font-size: 0.8rem;
  letter-spacing: 1px;
}



.projectWrapperRow4 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

/* ======================================== */

/* ====================================================
  About Section
=======================================================*/

.aboutMeSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid #4fca4f; */
}

.aboutMeContainer {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem;
  gap: 2rem;
  /* border: 3px solid #f6ff00; */
  /* background: #333; */
}

/* ======================================== */

/* ====================================================
  Technical skill Section
=======================================================*/

.techSkillSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid #4fca4f; */
}

.techSkillContainer {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem;
  gap: 2rem;
  /* border: 3px solid #f6ff00; */
  /* background: #333; */
}

/* ======================================== */

/* ====================================================
  Contact skill Section
=======================================================*/

.contactSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid #4fca4f; */
}

.contactSectionContainer {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem;
  gap: 2rem;
  /* border: 3px solid #f6ff00; */
  /* background: #3333335c; */
}

/* ======================================== */

/* ====================================================
  Media queries Section
=======================================================*/

@media (max-width: 810px) {
  .hamburgerIcon {
    display: block;
  }

  .hamburgerMenu {
    display: flex;
  }

  .menuBar {
    opacity: 0;
  }

  .rootContainer {
    height: 100%;
  }
}

@media (min-width: 811px) {
  .rootContainer.hideElementWithScale {
    transform: scale(1);
    opacity: 1;
  }

  .menuBar.hideElementWithScale {
    transform: scale(1) translate(-50%, 0%);
    opacity: 1;
  }
}

@media (max-width: 840px) {
  .projectSliderWrapper {
    flex-direction: column;
  }
}

/* ======================================== */