:root {
  /* Theme colors */
  --darkBg: #36384e;

  --primary: #f4f1de; /* off-white / cards background */
  --accent: #f95738; /* strong coral-red */
  --secondary: #43bccd; /* cyan-blue */
  --highlight: #ffd166; /* warm yellow */

  --text-accent: #f4f1de;

  --text-dark: #1f1f1f;
  --text-light: #f4f1de;
  --border: #000000;

  /* Button colors */

  /* Font weight */
  --light: 300;
  --slightly-bold: 400;
  --bold: 500;
  --very-bold: 600;
}

[data-theme="dark"] {
}
